@import "variables";

@media screen and (max-width: 1835px) {
    .container {
        padding-left: 191px;
        padding-right: 109px;
    }
}
@media screen and (max-width: 1375px) {
.maecenas__contacts {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    display: grid;
    justify-content: space-between;
}
.maecenas__email {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    text-align: end;
}
.form__target {
    padding-bottom: 80px;
}
}
@media screen and (max-width: 1324px) {

    .navigation {
        justify-content: center;
        flex-wrap: wrap;
        &__list {
            margin-bottom: 50px;
        }
    }
    .about__img {
        display: none;
    }
}

@media screen and (max-width: 1245px) {
    .header__right {
        display: none;
    }
    .navigation__list-item {
        padding-right: 50px;
    }
    .nominations .container {
        padding-left: 0;
        padding-right: 0;
    }
    .nominations__inner {
        max-width: 100%;
    }

}
@media screen and (max-width: 1180px) {
    .navigation__list-item {
        padding-right: 30px;
    }

}

@media screen and (max-width: 1015px) {
    .navigation__list-item {
        padding-right: 25px;
    }

}
@media screen and (max-width: 990px) {
.navigation {
justify-content: space-between;
&__list {
    // display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    display: block;
    background-color: #333333;
    margin: 0;
    padding-top: 140px;
    padding-left: 39px;
    &-item {
        padding-bottom: 35px;
    }
}
&__menu {
    display: block;
}
}
.social__list {
    flex-wrap: wrap;
    width: 230px;
    margin-bottom: 86px;
    padding: 0px;
    justify-content: center;
    flex-direction: row;
    & li {
        padding: 20px;
    }
}
.navigation__show {
    display: block;
}
.navigation__none {
    display: none;
}
.social__text {
    display: none;
}
.social__inst svg {
    width: 45px;
    height: 45px;
}
.social__face svg {
    width: 26px;
    height: 45px;
}
.social__vk svg {
    width: 45px;
    height: 31px;
}
.social__yout svg {
    width: 45px;
    height: 24px;
}
.header__social {
    z-index: 1;
    top: auto;
}
.container {
    padding-left: 114px;
    padding-right: 39px;
}
}