@font-face {
  font-family: "OpenSans-Bold";
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Light";
  font-display: swap;
  src: url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-LightItalic";
  font-display: swap;
  src: url("../fonts/OpenSans-LightItalic.woff") format("woff"), url("../fonts/OpenSans-LightItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

.container {
  padding: 0 405px;
  margin: 0 auto;
  max-width: 1920px;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

body {
  font-family: OpenSans-Light;
  color: #ffffff;
  margin: 0 auto;
  background-color: #333333;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

@-webkit-keyframes slider-left {
  from {
    left: -235px;
  }

  to {
    left: 0;
  }
}

@keyframes slider-left {
  from {
    left: -235px;
  }

  to {
    left: 0;
  }
}

@-webkit-keyframes slider-right {
  from {
    left: 0;
  }

  to {
    left: -235px;
  }
}

@keyframes slider-right {
  from {
    left: 0;
  }

  to {
    left: -235px;
  }
}

span {
  color: #d1a954;
}

.title {
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding-top: 150px;
  padding-bottom: 100px;
}

.header {
  background-image: url("../img/header-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.header__content {
  margin-top: 191px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 208px;
}

.header__title {
  font-weight: bold;
  font-size: 64px;
  line-height: 87px;
  letter-spacing: 0.098em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 50px;
}

.header__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 50px;
  max-width: 540px;
}

.header__btn {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background-color: #d1a954;
  padding: 13px 47px;
  display: block;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 540px;
}

.header__right {
  margin-left: 40px;
}

.social {
  background: rgba(51, 51, 51, 0.75);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  max-width: 150px;
  position: absolute;
  top: 0;
  bottom: 0;
}

.social__inst,
.social__face,
.social__vk,
.social__yout {
  fill: white;
  fill-opacity: 0.6;
}

.social__inst:hover,
.social__face:hover,
.social__vk:hover,
.social__yout:hover {
  fill: #d1a954;
}

.social__text {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  color: #c4c4c4;
  min-width: 440px;
  bottom: 22%;
  left: -147px;
  position: relative;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding-left: 150px;
}

.social__text:before {
  content: "";
  background-image: url(../img/Line.svg);
  height: 2px;
  width: 80px;
  position: absolute;
  top: 50%;
  left: 40px;
}

.social__list {
  width: 50px;
  margin: 0 auto 86px;
  text-align: center;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 150px;
}

.navigation {
  padding-top: 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation__menu {
  display: none;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 0;
}

.navigation__list-item {
  padding-right: 63px;
  -webkit-padding-end: 35px;
}

.nav-btn,
.navigation-phone {
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding-bottom: 2px;
  color: #ffffff;
}

.nav-btn:hover,
.navigation-phone:hover {
  border-bottom: 2px solid #d1a954;
  padding-bottom: 0px;
  border-radius: 2px;
}

.navigation-phone {
  margin: auto 0;
}

.navigation-phone:hover {
  padding-top: 0;
}

.slider__link {
  position: relative;
}

.img__top {
  position: absolute;
  left: -20px;
  bottom: 20px;
}

.header__slider-nav {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #c4c4c4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 35px;
}

.left-btn {
  padding-left: 50px;
  position: relative;
}

.img__left {
  position: absolute;
  left: -18px;
  top: 5px;
  fill: white;
}

.right-btn {
  padding-right: 65px;
  position: relative;
}

.img__right {
  position: absolute;
  right: 0;
  top: 5px;
  fill: white;
}

.right-btn:hover,
.left-btn:hover {
  color: #d1a954;
}

.right-btn:hover svg,
.left-btn:hover svg {
  fill: #d1a954;
}

.about__theater-title,
.about__number-title {
  font-weight: bold;
  font-size: 21px;
  line-height: 29px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding-bottom: 40px;
}

.about__theater-text {
  font-weight: normal;
  font-size: 17px;
  line-height: 150%;
}

.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 75px;
}

.about__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__number-text {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
  margin-left: 0;
}

.about__img {
  height: 292px;
}

.staging {
  padding-bottom: 150px;
  position: relative;
  min-height: 1019px;
}

.staging__mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #333333;
  opacity: 0.7;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.staging__mask:hover {
  opacity: 0;
}

.staging__slider {
  position: absolute;
  height: 555px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.staging__slider img {
  width: 442px;
  height: 550px;
  -webkit-box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.75);
}

.staging__inner {
  position: absolute;
}

.staging__link:hover .staging__slider-title,
.staging__link:hover .staging__slider-text {
  display: none;
}

.staging__link:hover::after {
  display: block;
}

.staging__link::after {
  display: none;
  content: "";
  background-image: url(../img/search-img.svg);
  position: absolute;
  width: 100px;
  height: 100px;
  top: 40%;
  left: 40%;
}

.staging__slider-title {
  position: absolute;
  top: 40px;
  left: 40px;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.staging__slider-text {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  bottom: 100px;
  left: -25px;
  font-weight: bold;
  font-size: 18px;
  text-align: left;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  width: 150px;
}

.nominations__inner {
  position: relative;
  max-width: 1062px;
  margin: 0 auto;
  -webkit-box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.75);
  background-image: url(../img/nominations-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 540px;
}

.nominations__mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #333333;
  opacity: 0.7;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.nominations__mask:hover {
  opacity: 0;
}

.nominations__years,
.nominations__text {
  margin: auto 0;
}

.nominations__text {
  max-width: 480px;
  text-align: left;
  padding-left: 65px;
}

.nominations__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nominations__list {
  font-weight: bold;
  font-size: 72px;
  line-height: 98px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #d1a954;
}

.nominations__star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-left: 0;
}

.nominations__star li + li {
  padding-left: 25px;
}

.nominations__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 150%;
}

.partners__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.partners__inner-item {
  margin: 35px;
}

.maecenas__inner {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
  grid-template-columns: auto auto;
}

.maecenas__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.maecenas__contacts a {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.form__target {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 180px 180px 310px;
  grid-template-columns: 180px 180px 310px;
  -ms-grid-rows: 35px 35px auto;
  grid-template-rows: 35px 35px auto;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 30px;
}

.form__target input,
.form__target textarea {
  background: #444444;
  border: 1px solid #616161;
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  padding: 15px;
  color: #989898;
}

.form__target input[type="button"] {
  background: #d1a954;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.form__target label {
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  color: #989898;
}

.form__phone {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

.form__email {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

.form__text {
  -ms-grid-column: 3;
      grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  resize: none;
}

.form__info {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 3;
      grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

.form__btn {
  -ms-grid-column-align: end;
      justify-self: end;
  width: 190px;
  height: 50px;
}

.footer {
  margin-top: 80px;
}

.footer__inner {
  padding: 30px 0;
  border-top: 1px solid #565656;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__rights,
.footer__devby {
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  color: #989898;
}
@supports (-webkit-appearance:none){
.header{background-image:url("../img/header-bg.webp")}
.social__text:before{background-image:url(../img/Line.svg)}
.staging__link::after{background-image:url(../img/search-img.svg)}
.nominations__inner{background-image:url(../img/nominations-bg.webp)}
}
